*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
  font-family: "Roboto Regular", sans-serif;
}

.inner {
  width: 122.9rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 0 2rem 0;
}

.search-lang-bar {
  display: flex;
  gap: 20px;
}
// -----------------header-input----------------------
form {
  display: flex;
  // height: 40px;
}

.text-field__label {
  font-weight: 600;
  font-size: 17px;
  line-height: 40px;
}

.input-container {
  position: relative;
}

input[type="text"] {
  font-family: inherit;
  font-size: 17px;
  line-height: inherit;
  margin: 0;
}

.search-query .text-field__input {
  padding-left: 76px;
  width: 312px;
}

.input-container .text-field__label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.2s;
}

.search-city .text-field__input {
  padding-left: 50px;
  width: 220px;
}

.text-field__input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 20px 0 20px 76px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  /* border-right: none; */
  border-radius: 1.2rem;
  // border-radius: 0.1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-city .text-field__input {
  border-left: none;
  border-radius: inherit;
}

.search-query .text-field__input {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.search-button {
  background-color: #754040;
  width: 50px;
  border-radius: 0px 1.2rem 1.2rem 0px;
  // border-radius: 0px 0.1rem 0.1rem 0px;
  border: none;
  /* padding: 9.48px 14px; */
  cursor: pointer;
}

// --------------dropdown-----------------------

.wrapper-language {
  position: relative;
}

.active-lang {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;

  position: static;
  background-size: 23px;
}

.dropdown {
  top: 56px;
  position: absolute;
  background-color: #fff;
  right: 0px;
  z-index: 10001;
  padding: 18px 18px 4px;
  min-width: 165px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 8px 0 #86878940;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.show {
  display: flex;
  opacity: 1;
  flex-direction: column;
}

.hide {
  display: none;
}

.lang {
  color: #000;
  position: relative;
  padding-left: 40px;
  font-family: "Roboto Regular";
  font-size: 15px;
  line-height: 40px;
}

.close-icon-wrapper {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 19px;
  right: 8px;
  cursor: pointer;
  z-index: 1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background: #c4c4c4;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.flag-russian {
  background: url("/img/header/ru.svg") no-repeat left center;
}

.flag-english {
  background: url("/img/header/en.svg") no-repeat left center;
}

.flag-espanol {
  background: url("/img/header/es.svg") no-repeat left center;
}

// --------------dropdown END-----------------------

.breadcrumb {
  background-color: $dark-grey;
  color: #ffffff;
  flex-direction: column;
}

.breadcrumb-list {
  background-color: $dark-grey;
  color: #ffffff;
  display: flex;

  font-size: 1.4rem;
  font-family: "Roboto Regular";
  line-height: 16px;
  padding: 1rem 0 1rem 0rem;

  li:nth-child(odd):not(:last-child) {
    margin-right: 0.56rem;
  }
  li:nth-child(even):not(:last-child) {
    margin-right: 0.2rem;
  }
}

// -------------------------main----------------------------------

.main {
  padding: 3rem 0 5rem 0;
  background-color: #f6f6f6;
}

.main-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.05rem 0;
}

.main-title {
  font-family: "Akrobat";
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.all-restaurants {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.6;
  transition: all 0.3s ease-in;
  &:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
  }
}

// ---------------slider------------------------------

.slider-item {
  width: 28.5rem;
}

.card-image {
  border-radius: 20px;
  margin: 0 0 0.6rem 0;
  position: relative;
}

.open-until {
  width: 13.6rem;
  // padding: 0.8rem 1.2rem;
  padding: 0.8rem 0;
  background: rgba(47, 34, 36, 0.16);
  backdrop-filter: blur(24px);
  border-radius: 1.6rem;
  position: relative;
  left: 9px;
  bottom: 192px;
  font-family: "Roboto Bold";
  font-weight: 700;
  font-size: 13px;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #d0c8c9;
  justify-content: center;
  span {
    color: #f6f4f4;
    margin: 0 0 0 0.4rem;
  }
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.4rem;
}

.card-title-name {
  font-family: "Roboto Bold";
  font-size: 16px;
  line-height: 120%;
  display: flex;
  color: #5b484a;
}

.card-title-rating {
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  color: #a72536;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    margin: 0 4px 0 0;
    width: 19px;
    height: 17px;
    background: url("/img/card/star.svg") left center no-repeat;
  }

  .card-title-rating-count {
    color: #ab9c9e;
    margin: 0 0 0 0.4rem;
  }
}

.card-text {
  display: flex;
  justify-content: space-between;
  margin: 0 0.4rem 0 0.4rem;
}

.left-column {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Medium";
  font-size: 1.1rem;
  line-height: 125%;

  .text-town {
    color: $taupe;
  }

  .text-price {
    display: flex;
    align-items: center;
  }

  .text-cuisine {
    color: $dark-grey;
    display: flex;
    align-items: center;

    &::before {
      content: url("/img/card/restaurant_menu.svg");
      margin: 0 0.8rem 0 0;
    }
  }

  .text-currency {
    color: #5b484a;
    display: flex;
    align-items: center;
    span {
      color: #ab9c9e;
      display: flex;
      align-items: center;
      margin: 0 0 0 0.3rem;
    }
    ::after {
      content: "";
      display: inline-block;
      width: 0.1rem;
      height: 1.6rem;
      background-color: #ab9c9e;
      margin: 0 0.8rem;
    }
  }

  .text-check {
    color: $dark-grey;
    display: flex;
    align-items: center;
    &::before {
      content: url("/img/card/receipt_long.svg");
      margin: 0 0.4rem 0 0;
    }
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.1rem;
  font-family: "Roboto Bold";
  font-weight: 700;
  .text-time {
    color: $dark-grey;
    display: flex;
    align-items: center;
    &::before {
      content: url("/img/card/directions_car.svg");
      margin: 0 0.4rem 0 0;
    }
  }
  .text-distance {
    color: $taupe;
  }
}
