@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
